<h1>My name : Josh</h1>
<h1>Where I'm from : Castro Valley (East Bay Area)</h1>
<h1>My year :  Junior</h1>
<h1>A fun fact: I bake stuff?</h1>
<h1>What I'm most excited about: Learning how the internals of Ruby work, since in the past I've 
	struggled since I didn't follow proper naming conventions
</h1>